{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"printWidth": 140,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all"
}
