<!DOCTYPE html>
<html>
<% include ./partial/head %>
<body>
	<% include ./partial/navbar %>
	<div class="container">
		<header class="mt-4 mb-3">
			<!-- head -->
			<h1 class="display-5 font-weight-normal">API</h1>
		</header>

		<div class="api mt-4 mb-3">
			<h4>Server</h4>
			<p>GET /server?host=[hostname]&port=[port]</p>
		</div>

		<div class="api mt-4 mb-3">
			<h4>Server Rank</h4>
			<p>GET /online-servers</p>
		</div>

		<div class="api mt-4 mb-3">
			<h4>Offline Servers</h4>
			<p>GET /offline-servers</p>
		</div>

		<div class="api mt-4 mt-2">
			<h4>Total</h4>
			<p>GET /total</p>
		</div>

		<div class="api mt-4 mt-2">
			<h4>Plugin Rank</h4>
			<p>GET /plugins</p>
		</div>
	</div>

	<% include ./partial/footer %>

	<script type="text/javascript">
		$(".api > p").text(function(){
			var api = $(this).text().split(" ");
			return api[0] + " " + window.location.href + api[1];
		});
	</script>
</body>
</html>