<!DOCTYPE html>
<html>
<% include ./partial/head %>
<body>
	<% include ./partial/navbar %>
	<div class="container">
		<header class="mt-4 mb-3">
			<!-- head -->
			<h1 class="display-5 font-weight-normal">API</h1>
		</header>

		<div class="mt-4 mb-3">
			<h4>Server</h4>
			<p>GET http://mcberank.kro.kr/api/server?host=[hostname]&port=[port]</p>
		</div>

		<div class="mt-4 mb-3">
			<h4>Server Rank</h4>
			<p>GET http://mcberank.kro.kr/api/online-servers</p>
		</div>

		<div class="mt-4 mb-3">
			<h4>Offline Servers</h4>
			<p>GET http://mcberank.kro.kr/api/offline-servers</p>
		</div>

		<div class="mt-4 mt-2">
			<h4>Total</h4>
			<p>GET http://mcberank.kro.kr/api/total</p>
		</div>

		<div class="mt-4 mt-2">
			<h4>Plugin Rank</h4>
			<p>GET http://mcberank.kro.kr/api/plugins</p>
		</div>
	</div>
	<% include ./partial/footer %>
</body>
</html>