<!DOCTYPE html>
<html>
<% include ./partial/head %>
<body>
	<% include ./partial/navbar %>
	<div class="container">
		<header class="mt-4 mb-3">
			<!-- title -->
			<h3 id="mcberank-title" class="font-weight-normal"></h3>
			<!-- subtitle -->
			<div id="mcberank-subtitle" class="small"></div>
		</header>

		<!-- rank chart -->
		<div class="mt-4 mb-5">
			<div class="border">
				<svg id="rank_chart"></svg>
			</div>
		</div>

		<!-- server info -->
		<div class="mt-4 mb-5">
			<div class="mb-3">
				<h4>서버 정보</h4>
			</div>
			<table id="server_info" class="table table-sm table-bordered table-hover">
				<!-- <thead class="thead-dark">
					<tr>
						<th scope="col">데이터</th>
						<th scope="col" class="text-right">값</th>
					</tr>
				</thead> -->
				<tbody></tbody>
			</table>
		</div>

		<!-- player list -->
		<div class="mt-4 mb-5">
			<div class="mb-3">
				<h4>플레이어 목록</h4>
			</div>
			<div class="mb-3">
				<input id="player_list_filter" class="form-control" type="text" placeholder="Search ...">
			</div>
			<table id="player_list" class="table table-sm table-hover">
				<thead class="thead-dark">
					<!-- <tr>
						<th scope="col">플레이어 이름</th>
					</tr> -->
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<% include ./partial/footer %>
	
	<script type="text/javascript">
		/**
		 * Get address in url parameter
		 */
		var query = McbeRank.getUrlVars();
		var address = {};
		address.host = query.host || "Unknown";
		address.port = query.port || 19132;

		/**
		 * Server's title
		 */
		d3.select("#mcberank-title")
			.text(query.host + ":" + query.port);

		/**
		 * Server's information field/value
		 */
		function addRecord(field, value){
			$('#server_info').find('tbody')
				.append($('<tr>')
					.append($('<td>', { html: field }))
					.append($('<td>', { html: value, class: 'text-right' })));
		}

		d3.json(McbeRank.files.servers.server(query)).then(function(data){
			if('hostname' in data) $('#mcberank-title').text(McbeRank.tfclear(data.hostname));
			$('#mcberank-subtitle').text(data.address.host + ' : ' + data.address.port);

			var online = data.online;

			var tbody = $('#server_info').find('tbody');
			addRecord('온라인', online ? '예' : '아니오');
			if('version' in data) addRecord('버전', data.version);
			if(online && 'numplayers' in data && 'maxplayers' in data) addRecord('동접', data.numplayers + '/' + data.maxplayers);
			if('server_engine' in data) addRecord('서버 엔진', data.server_engine);
			if('daily_record' in data) addRecord('일일 최고', data.daily_record.numplayers);
			if('weekly_record' in data) addRecord('주간 최고', data.weekly_record.numplayers);
			// if('monthly_record' in data) addRecord('월간 최고', data.monthly_record.numplayers);

			/**
			 * Server's chart
			 */
			window.chart = new MineChart('#rank_chart');
			chart.transition().add(data.address.host + '-' + data.address.port);

			$.each(data.players, function(key, val){
				$('#player_list').find('tbody')
					.append($('<tr>')
						.append($('<td>', { html: val })));
			});
		});

		/**
		 * player_list_filter
		 */
		$(document).ready(function(){
			$('#player_list_filter').on("keyup", function(){
				var value = $(this).val().toLowerCase();
				$('#player_list').find('tbody > tr').filter(function(){
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
</body>
</html>