<!-- copyright -->
<footer class="footer bg-light">
	<div class="container py-4">
		<a href="https://github.com/McbeRank" class="text-secondary" style="text-decoration: none; font-size: 1.2em;"><i class="fa fa-github"></i> Github</a>

		<div class="d-block my-3">
			<small class="text-muted">©MCBE Rank. All rights reserved.</small>
		</div>
	</div>
</footer>