<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="favicon.png" width="24px">
			MCBE Rank
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mcberank-navbar-content" aria-controls="mcberank-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="mcberank-navbar-content" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="servers">서버 목록</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="plugins">플러그인 목록</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="api">API</a>
				</li>
			</ul>
		</div>
	</div>
</nav>